body {
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.center-container {
    width: 70%;
    max-width: 300px; 
    margin: 0 auto;
    text-align: center;
}

.form-control {
    width: 90%;
    padding: 1.5vh;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #FFF;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.062);
    color: #1f1f1f;
    font-size: 16px; 
    margin-bottom: 5%;
}

.form-group label {
    display: block;
    margin-top: 1rem;
    text-align: left;
    padding-left: 1%;
    padding-bottom: 1%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
}

.header-text-light {
    margin-top: 10%;
    font-size: 2rem; 
    font-family: Montserrat;
    word-wrap: break-word;
}

.header-text-bold {
    color: #1f1f1f;
    font-size: 33px;
    font-family: Montserrat;
    font-weight: 700;
    word-wrap: break-word;

}

.login-button {
    width: 100%;
    height: 44px; /* Ajuste a altura conforme necessário */
    background: #373dd3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px; 
    
}

.button-text {
    color: white;
    font-size: 1.5rem; 
    font-family: Montserrat;
    font-weight: 700;
    word-wrap: break-word;
}


@media screen and (max-width: 600px) {
    .center-container {
        width: 90%;
    }
}
