body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    color: #1f1f1f;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
}

b {
    margin-right: 1vh;
}

.badge-background {
    max-width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    flex-direction: column;
    margin: 5vh;
}

.badge-background-detail {
    box-sizing: border-box;
    width: 100%;
    max-height: 40%;
    border-radius: 10px 10px 0px 0px;
    background-color: #373DD3;
    margin-bottom: 4vh;
    padding: 5vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.edit-icon, .logout-icon {
    max-width: 5vh;
    max-height: 5vh;
    margin-bottom: 2vh;
}

.up-right {
    position: absolute;
    display: end;
    top: 0;
    right: 0;
}

.edit-icon-div {
    min-width: 100%;
    display: flex;
    justify-content: end;
}

.edit-icon {
   margin: 2vh;
}

.user-image {
    width: 100%; 
    height: auto; 
    border-radius: 10px;
    margin-bottom: -10vh;
}

.user-info {
    max-width: 90%;
    padding: 1vh;
}

.user-info p{
    font-size: 1.3rem;
    margin: 2vh;
    padding: 3%;
}

.center-container {
    max-width: 70%;
    min-width: 50%; 
    margin: 0 auto;
    text-align: center;
}

.input-edit-div {
    display: flex;
    flex-direction: column;
    margin: 5vh;
}

.input-edit-div label {
    text-align: start;
    color: #1F1F1F;
    margin-left: 1vh;
    margin-bottom: 1vh;
    font-weight: 700;
}

.input-form {
    box-sizing: border-box;
    width: 100%;
    padding: 2.2vh;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #FFF;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.062);
    color: #1f1f1f;
    font-size: large;   
}

.header-text-light {
    margin-top: 10%;
    font-size: 2rem; 
    font-family: Montserrat;
    word-wrap: break-word;
}

.header-text-bold {
    color: #1f1f1f;
    font-size: 33px;
    font-family: Montserrat;
    font-weight: 700;
    word-wrap: break-word;

}

.login-button {
    width: 100%;
    height: 5vh;
    background: #373dd3;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.062);
    border-radius: 10px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-text {
    color: white;
    font-size: 1.5rem; 
    font-family: Montserrat;
    font-weight: 700;
}

.alert {
    --bs-alert-bg: transparent;
    --bs-alert-padding-x: 1rem;
    --bs-alert-padding-y: 1rem;
    --bs-alert-margin-bottom: 1rem;
    --bs-alert-color: inherit;
    --bs-alert-border-color: transparent;
    --bs-alert-border: 1px solid var(--bs-alert-border-color);
    --bs-alert-border-radius: 0.375rem;
    position: relative;
    padding: var(--bs-alert-padding-y) var(--bs-alert-padding-x);
    margin-bottom: var(--bs-alert-margin-bottom);
    color: var(--bs-alert-color);
    background-color: var(--bs-alert-bg);
    border: var(--bs-alert-border);
    border-radius: var(--bs-alert-border-radius);
    margin-top: 2vh;
}

.alert-primary {
    --bs-alert-color: #084298;
    --bs-alert-bg: #cfe2ff;
    --bs-alert-border-color: #b6d4fe;
}

.alert-success {
    --bs-alert-color: #0f5132;
    --bs-alert-bg: #d1e7dd;
    --bs-alert-border-color: #badbcc;
}

.alert-danger {
    --bs-alert-color: #842029;
    --bs-alert-bg: #f8d7da;
    --bs-alert-border-color: #f5c2c7;
}

.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.alert-warning hr {
    border-top-color: #ffe8a1;
}

.alert-warning a {
    color: #c69500;
}

.container { 
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 100%;
    font-family: 'Montserrat', sans-serif;
    color: #1f1f1f;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.admin-background {
    min-width: 70%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    flex-direction: column;
    margin: 5vh;
}

.admin-background-header {
    width: 100%;
    max-height: 40%;
    border-radius: 10px 10px 0px 0px;
    background-color: #373DD3;
    margin-bottom: 4vh;
    padding: 5vh;
    display: flex;
    box-sizing: border-box;
    justify-content: start;
    align-items: center;
    color: #fff;
}

.admin-background-header h1 {
    font-size: xx-large;
    margin-left: 10%;
}

.admin-list-title {
    font-size: x-large;
}

.no-updates {
    text-align: center;
    margin: 25%;
}

.user-request {
    box-sizing: border-box;
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 1vh;
    padding: 2vh;
    font-size: large;
}

.new, .old {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.old-info, .new-info {
    width: 50%;
}

.old-info {
    color: #999;
}

.new-info {
    color: #3c3;
}

.request-button-div form {
    flex: 1;
}

.request-image {
    width: 25%;
    height: 25%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    clip-path: circle();
    margin: 2vh;
}

.request-button-div {
    display: flex;
    justify-content: space-around;
    margin-top: 2vh;
    flex-wrap: wrap;
}

.update-badge-button, .cancel-badge-button, .approve-edit-button, .reject-edit-button {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    background: #373DD3;
    border: 0;
    height: auto;
    color: #FFFF;
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin: 1vh;
    font-family: Montserrat;
    font-size: large;
    cursor: pointer;
}

.approve-edit-button, .reject-edit-button {
    width: 90%;
    margin: 1vh;
}

.approve-edit-button {
    background: #3c3;
}

.reject-edit-button {
    background: #c33;
}

.edit-user-buttons-div {
    display: flex;
    justify-content: space-evenly;
    max-width: 100%;
    flex-wrap: wrap;
}

.cancel-badge-button {
    background: #1F1F1F;
    opacity: 0.7;
} 

.input-edit-div {
    display: flex;
    flex-direction: column;
    margin: 2vh;
}

.input-edit-div label {
    color: #1F1F1F;
    margin-bottom: 1vh;
    font-weight: 700;
}

@media only screen and (max-width: 700px) {
    .new, .old {
        flex-direction: column;
    }

    .request-image {
        width: 50%;
        height: 50%;
    }
}
