{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/styles/style.css' %}">
</head>
<body>  
    <div class = "container">
        <div class = "admin-background">
            <div class = "admin-background-header">
                <a href="{% url 'logout' %}">
                    <img class = "logout-icon" src="{% static '/assets/icons/logout.png' %}" alt="Sair da conta">
                </a>
                <h1>Administrador</h1>
            </div>
            <h1>Requisições de alteração</h1>
            {% if alteracao %}
                {% for alt in alteracao %}
                    <div class = "alteracao">
                        <div class = "old">
                            <img 
                                class = "alteracao-image" 
                                src="{{ alt.user.picture.url }}"
                            >
                            <div class = "old-info">
                                <p>{{ alt.user.name }}</p>
                                <p>{{ alt.user.email }}</p>
                                <p>{{ alt.user.birth_date }}</p>
                                <p>{{ alt.user.phone }}</p>
                            </div>
                        </div>

                        <div class="new">
                            {% if alt.new_data.picture %}
                                <img
                                    class = "alteracao-image"
                                    src="{{ alt.new_data.picture.url }}"
                                >
                            {% else %}    
                                <img 
                                    class = "alteracao-image" 
                                    src="{{ alt.user.picture.url }}"
                                >
                            {% endif %}
                            <div class = "new-info"> 
                                {% if alt.new_data.name %}
                                    <p>{{ alt.new_data.name }}</p>
                                {% else %}
                                    <p>{{ alt.user.name }}</p>
                                {% endif %}

                                {% if alt.new_data.email %}
                                    <p>{{ alt.new_data.email }}</p>
                                {% else %}
                                    <p>{{ alt.user.email }}</p>
                                {% endif %}

                                {% if alt.new_data.birth_date %}
                                    <p>{{ alt.new_data.birth_date }}</p>
                                {% else %}
                                    <p>{{ alt.user.birth_date }}</p>
                                {% endif %}

                                {% if alt.new_data.phone %}
                                    <p>{{ alt.new_data.phone }}</p>
                                {% else %}
                                    <p>{{ alt.user.phone }}</p>
                                {% endif %}
                            </div>
                        </div>

                        <div class="botoes-alteracao">
                            <a class="botao-aprovar" href="">Aprovar</a>
                            <a class="botao-rejeitar" href="">Rejeitar</a>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p class="no-updates">Nenhuma alteração para revisão.</p>
            {% endif %}
        </div>
    </div>
</body>
</html>
