{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crachá Virtual</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/styles/style.css' %}">
</head>
<body>  
    <div class = "badge-background">
        <div class = "badge-background-detail">
            <img class = "logout-icon" src="{% static '/assets/icons/logout.png' %}" alt="Sair da conta">
            <img 
                class = "user-image" 
                src="{% static '/assets/images/badge/george.jpg' %}" 
                alt="Imagem do usuário"
            >
        </div>
        <h1>{{ user.name }}</h1>
        <div class = "user-info">
            <p><b>Identificação:</b> {{ user.id }} </p>
            <p><b>Email:</b> {{ user.email }}</p>
            <p><b>Data de nascimento:</b> {{ user.birthDate }}</p>
            <p><b>Telefone:</b> {{ user.phone }}</p>
            <p><b>Validade:</b> {{ user.validity_date }}</p>
        </div>
        <div class = "edit-icon-div">
            <img class = "edit-icon" src="{% static '/assets/icons/edit.png' %}" alt="Editar conta">
        </div>
    </div>
</body>
</html>