<!DOCTYPE html>
<html>
<head>
    <title>User List</title>
</head>
<body>
    <h1>User List</h1>
    <ul>
        {% for user in users %}
            <li>
                {{ user.name }} - {{ user.email }} - {{ user.birth_date }} - {{ user.phone }} - {{ user.validity_date }}
                | <form method="post" action="{% url 'administrator:delete_user' user.id %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">Excluir</button>
                </form>
            </li>
        {% endfor %}
    </ul>
</body>
</html>

